/* sollte so eigentlich für diese seite genau passen wa*/
.Homestyle {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Parallax-Abschnitt */
  .parallax {
    background-image: url('../bilder/pfungen-banner.jpg');
    
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.geschichte-container {
    position: relative;
    background-image: url('../bilder/pfungen-banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.geschichte {
    width: 50%;
    height: 100%;
    padding: 20px;
    margin: 20px;
    background-color: lightcyan;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}


.heute {
    padding: 20px;
    margin: 20px;
    background-color: lightcyan;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.geschichte h1, .heute h1 {
    font-size: 2em;
  }
.geschichte p, .heute p {
    font-size: 1em;
    line-height: 1.6;
  }