body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  height: 100vh;
  width: 100vw;
}

ul.navigation {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  border-bottom: 2px solid lightgray;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: gray;
  padding-bottom: 5px;
}

a.active {
  font-weight: bold;
  color: black;
  border-bottom: 2px solid black;
}
