body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

ul.navaigation {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin-left: 15%;
  display: flex;
}

li {
  margin-right: 20px;
}